*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee;
}
.container{
    width: 1000px;
    margin: 0 auto;
    background:#E4F9F5;
    padding: 20px;
}
header{

}
.profile-pic img{
    max-width: 100px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid white;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;
}
.header-content{
    float: right;
    padding: 30px;
}
.header-content a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-content a:hover{
    text-decoration: underline;
    color: tomato;
}
.clear-both{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    border-bottom: none;
    margin: 20px auto;
}
.personal-information{

}
.content{

}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: right;
}
.common-hr{
    border: 1px solid black;
    border-bottom: none;
    margin: 20px auto;
    width: 100%;
}
.ed-left{
    width: 48%;
    float: left;
}
.ed-right{
    width: 45%;
    float: right;
}
.footer{
    background: black;
    text-align: center;
    padding:10px;
}
.footer a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
}
.footer p{
   
    color: #fff;
    margin-top: 20px;
}